.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 27px;
    background-color: #ffffff;
    width: 350px;
    height: 472px;
    padding: 64px;
    border-radius:5px;
    text-align: center;
}

.form p{
    font-size: 20px;
    line-height: 1.6;
    color:#666666;
}

.title{
    margin-top:0;
}


.userdata{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}